{% extends 'base.html' %}

{% block title %}{{ one_movie.name }}{% endblock %}

{% block content %}
    <div class="detail-container">
        <h1>{{ one_movie.name }}</h1>
        <p><strong>Beschreibung:</strong> {{ one_movie.description }}</p>
        <p><strong>Genre:</strong> {{ one_movie.get_genre_display }}</p>
        <p><strong>FSK:</strong> {{ one_movie.fsk }}</p>
        <p><strong>Jahr:</strong> {{ one_movie.year }}</p>
        <p><strong>Regie:</strong> {{ one_movie.director }}</p>
        <p><strong>Laufzeit:</strong> {{ one_movie.time }} min</p>
        <p><strong>Hauptdarstellende:</strong> {{ one_movie.actors }}</p>
        <p><strong>Kaufpreis:</strong> {{ one_movie.price }} €</p>
        <p><strong>Leihgebühr:</strong> {{ one_movie.rental_price }} €</p>
        {% if one_movie.details_pdf %}
             <a href="{{ one_movie.details_pdf.url }}" download>Details als PDF herunterladen</a>
        {% else %}
            <p>Keine PDF verfügbar.</p>
        {% endif %}
        <div class="movie_actions">
            <a href="{% url 'select_shop' one_movie.pk 'Purchase' %}">Kaufen</a>
            <a href="{% url 'select_shop' one_movie.pk 'Rental' %}">Ausleihen</a>
        </div>

        <a href="{% url 'movie_list' %}">← Zurück zur Liste</a>
    </div>

        {% if messages %}
            {% for message in messages %}
                <p class="message">{{ message }}</p>
            {% endfor %}
        {% endif %}

        <h3>Bewertungen</h3>
        {% if ratings %}
            <ul>
                {% for rating in ratings %}
                    <li>
                        <strong>{{ rating.user.username }}</strong> — {{ rating.stars }} Sterne
                        <p>{{ rating.text }}</p>
                        <small>
                            Hilfreich: {{ rating.helpful_count }} |
                            Nicht hilfreich: {{ rating.not_helpful_count }}
                        </small>
                        {% if user.is_authenticated and user != rating.user %}
                            <form method="post" action="{% url 'vote_rating' rating.pk 1 %}" style="display:inline">
                        {% csrf_token %}
                        <button type="submit">👍 Hilfreich</button>
                        </form>
                            <form method="post" action="{% url 'vote_rating' rating.pk 0 %}" style="display:inline">
                                {% csrf_token %}
                            <button type="submit">👎 Nicht hilfreich</button>
                        </form>
        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Noch keine Bewertungen vorhanden.</p>
        {% endif %}

    <h3>Eigene Bewertung abgeben</h3>
    <form method="post">
        {% csrf_token %}
        {{ rating_form.as_p }}
        <button type="submit">Bewertung abgeben</button>
    </form>



{% endblock %}