{% extends 'base.html' %}
{% load static %}

{% block title %}{% if is_create %}Film hinzufügen{% else %}Film bearbeiten/löschen{% endif %}{% endblock %}

{% block content %}
    <a class="back-link" href="{% url 'cs_movie_list' %}">← Zurück</a>
<h2>{% if is_create %}Neuen Film anlegen{% else %}Film verwalten: {{ movie.title }}{% endif %}</h2>

{% if can_edit_delete %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <br>
        {% if is_create %}
            <button type="submit" style="background-color: blue; color: white; padding: 8px;">Film speichern</button>
        {% else %}
            <button type="submit" name="edit" style="background-color: green; color: white; padding: 8px;">Änderungen speichern</button>
            <button type="submit" name="delete" style="background-color: red; color: white; padding: 8px;" onclick="return confirm('Möchtest du diesen Film wirklich unwiderruflich löschen?');">Film löschen</button>
        {% endif %}
    </form>
{% else %}
    <p style="color: red;">Sie haben keine Berechtigung für diese Aktion.</p>
{% endif %}

<br>

{% endblock %}