{% extends 'base.html' %}
{% load static %}

{% block title %}CS - Film Übersicht{% endblock %}

{% block content %}
<h2>Kundenservice Portal</h2>
<p>Angemeldet als: <strong>{{ user.username }}</strong> (Rolle: {{ user.get_role_display }})</p>

<a href="{% url 'cs_movie_create' %}"class="btn btn-secondary" style="margin-bottom: 15px">
    Neuen Film hinzufügen
</a>

    <a href="{% url 'cs_reported_ratings' %}" class="btn btn-secondary" style="margin-bottom: 15px">
    Gemeldete Bewertungen
</a>
    <a href="{% url 'cs_shop_list' %}" class="btn btn-secondary" style="margin-bottom: 15px;">
    Shopverwaltung
</a>

<table border="1" cellpadding="8" style="border-collapse: collapse; width: 100%;">
    <thead>
        <tr style="background-color: #f2f2f2;">
            <th>Titel</th>
            <th>Genre</th>
            <th>FSK</th>
            <th>Aktion</th>
        </tr>
    </thead>
    <tbody>
        {% for movie in all_movies %}
        <tr>
            <td>{{ movie.title }}</td>
            <td>{{ movie.get_genre_display }}</td>
            <td>FSK {{ movie.fsk }}</td>
            <td>
                <a href="{% url 'cs_movie_edit_delete' movie.pk %}">Bearbeiten / Löschen</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">Keine Filme in der Datenbank vorhanden.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}