{% extends 'base.html' %}

{% block content %}
    <div class="detail-container">
        {% if user.is_authenticated %}
            <h1>Willkommen, {{ user.username }}!</h1>
            <p>Du bist eingeloggt.</p>
            <a href="{% url 'movie_list' %}">Show me the Movies!</a>

            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>

        {% else %}
            <h1>Willkommen!</h1>
            <p>Du bist nicht eingeloggt.</p>
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
    </div>
{% endblock %}